@model List<Genre>
@{
    Layout = "_AdminDashboard";
}
  
@if (Model.Any())
{
    <div class="products-area-wrapper tableView" id="#myTable">
             <div class="products-header">
                 <div class="product-cell image">
                      ID
                 </div>
                 <div class="product-cell category">
                      Name
                 </div>
                 <div class="product-cell category">
                     Edit
                 </div>
            <div class="product-cell category">
                Delete
            </div>
            <div class="product-cell category">
                Details
            </div>
             </div>
            @foreach (var item in Model)
            {

                <div class="products-row">
                    <button class="cell-more-button">
                    </button>
                    <div class="product-cell image">
                        <span>@item.ID</span>
                    </div>
                <div class="product-cell image">
                    <span>@item.Name</span>
                </div>
                <div class="product-cell">
                    <a style="color:white; text-decoration:none;padding:15px;width:100px;border-radius:15px;text-align:center;background-color:#03b130c7" asp-action="Edit" asp-route-id="@item.ID">
                           <i class="bi bi-exclamation-octagon"></i>
                           Edit
                       </a>
                    </div>
                <div class="product-cell image">
                    <a style="color:white; text-decoration:none;padding:15px;width:100px;border-radius:15px;text-align:center;background-color:#ff007dc2" asp-action="Delete" asp-route-id="@item.ID">
                        <i class="bi bi-exclamation-octagon"></i>
                        Delete
                    </a>
                </div>
                <div class="product-cell image">
                    <a style="color:white; text-decoration:none;padding:15px;width:100px;border-radius:15px;text-align:center;background-color:#5d5d5d" asp-action="Details" asp-route-id="@item.ID">
                        <i class="bi bi-exclamation-octagon"></i>
                        Details
                    </a>
                </div>
                </div>
            }
   </div>
}

else
{
    <h3 class="bg bg-warning" style="padding:15px">
        <i class="bi bi-exclamation-circle-fill"></i>
        No Genre in DataBase
    </h3>
}

<partial name="_Notification" />
@section ButtonAdd{
    <a class="app-content-headerButton btn btn-primary" asp-action="Create" asp-controller="Genre">
        Add Genre
    </a>
}

@section Title{
    <h1 class="app-content-headerText"> Genre </h1>
}


<script>
    let table = new DataTable('#myTable');
</script>






